<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>은행등록페이지</h2>
    <form action="{% url 'banks:addprocess' %}" method="post">
        {% csrf_token %}
        <label>은행 이름</label>
        <input type="text" name="name"><br>
        <label>금리  </label>
        <input type="text" name="rate"><br>
        <input type="submit" value="등록">
        <input type="button" value="취소">
    </form>
</body>
</html>