<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {border:1px solid black; border-collapse:collapse; text-align:center;}
    </style>
</head>
<body>
    <h2>은행 리스트</h2>
    <table>
        <tr>
            <th>은행명</th>
            <th>금리</th>
            
        </tr>

        {% if banks %}
        {% for bank in banks %}
        <tr>
            <td><a href="{% url 'banks:modify' bank.b_name  %}"> {{ bank.b_name}}  </a></td>
            <td>{{bank.b_rate}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
 
    <h3><a  href='/banks/add'>은행 추가 </a></h3>
    <h3><a href= '/'> 메인 페이지로 </a></h3>


</body>
</html>